@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    opacity: 30%;
    background-size: cover;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}

.last {
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
    margin-bottom: 200px;
    transition: 6s;
    animation: go-back 3s infinite alternate;
}

@keyframes go-back {
    0% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(40px);
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 2%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 50px;
    text-decoration: none;
    font-weight: 900;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    margin: 0 70px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(218, 59, 62);
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.links {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px 2%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.plataformas {
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 40px;
}

.plataformas a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    text-decoration: none;
    border: 2px solid transparent;
    transition: .5s;
}

.plataformas a i {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.plataformas :hover {
    transform:scale(1.21);
    transition: .5s;
    color: red;

}

.play {
    display: inline-block;

}

.play a {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.play a i {
    color: inherit;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50px;
    padding: 1px 0px 1px 3px;
    font-size: 35px;
    margin-inline: 10px;
}

.play :hover {
    color: red;
    transform:scale(1.09);
    transition: .5s;
}

.contain {
    display: flex;
    width: 100%;
    justify-content: center;
}

.conteudo {
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    height: 100vh;
}

.caixa h1 {
    font-size: 90px;
    letter-spacing: 30px;
    font-weight: 900;
}

.caixa p {
    opacity: 60%;
    margin-top: 3%;
    letter-spacing: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

@media (max-width: 992px) {

    .last {
        opacity: 60%;
        z-index: -1;
        bottom: 0;
        display: flex;
        position: absolute;
        right: 0;
        transition: 6s;
        animation: go-back 3s infinite alternate;
        width: 200px;
    }

    .links {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 97%;
        padding: 20px 0;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .plataformas {
        display: flex;
        justify-content: space-between;
        width: 150px;
        height: 40px;
    }

    .plataformas a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        text-decoration: none;
        transform: rotate(45deg);
        border: 2px solid transparent;
        transition: .5s;
    }

    .plataformas a i {
        font-size: 30px;
        color: rgb(255, 255, 255);
        transform: rotate(-45deg);
    }

    .play a {
        display: inline-flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }

    .play a i {
        color: inherit;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 50px;
        padding: 1px 0px 1px 3px;
        font-size: 35px;
        margin-inline: 10px;
    }

    .header {
        padding: 30px 7%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }

    .logo {

        font-size: 30px;
        text-decoration: none;
        font-weight: 900;
    }

    .navbar a {
        align-items: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 800;
        margin: 0 10px;
        transition: .3s;
    }

    .contain {
        left: 0;
        display: flex;
        width: 80%;
        justify-content: center;
    }

    .conteudo {
        padding: 0;
        margin: 0;
        font-family: 'Sedgwick Ave Display', cursive;
        display: flex;
        justify-content: left;
        align-items: center;
        width: 85%;
        height: 80vh;
    }

    .caixa h1 {
        font-size: 40px;
        letter-spacing: 30px;
        font-weight: 900;
    }

    .caixa p {
        opacity: 50%;
        margin-top: 3%;
        letter-spacing: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: lighter;
    }
}